#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     brayan:sesamo  
  expire: False

users:
  - name: brayanmontoya # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDZ4GBV0211t56lgxh60XFgPeUupjavlY//NXUo5x6G6w/XUjpjsKi3klZuPLIOwojVvFfZMNMid+NYT97JHp51m/Mi5zNrx/PKwrFqElSWZSGToNOD+mf62WknxHd8czSXlrRPmHp+g+UhWtb0Cc4fmShdVMhFLWtvz+8Vt6VENWumCF6B3YgYu6BjfVEY/wQh1BPP70wCk4RnmcUz5EyYRDoLVTWTfxYPayuo2iq9MZe3i+f5IGFoeYOgTktw1EydUBWPfPKPAx7kz9sdY1qRlxljzxqdsprwjlJKPgViLWbBIKDJXCJn3DZQi3mUgK6bz5s9qS/odDNDtZTvJSSRtUIaRj2dlokSSp8r2zTK3FTX1NoGVMSWSW6SYzOuX0o6eEvHDndtBeJFQeHJe/BqPBr8QrcXLc+QEK291vtR+JC9zJnK2AXOcmaj2HRRcXJVYOcShvgNOPKvJLKttcTajGdtmHNoMCFLyJ5EPhw+O0ag7q72FVW0LhREbZDxSe8= brayan@pcubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
